.bookmark{
    text-align:right;
}
.img_description {
    position: absolute;
    margin-top: 250px;
    margin-bottom: 265px;
    margin-left: 2px;
    margin-right: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(68, 81, 90, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s ;
  }
  
  .img_wrap:hover .img_description {
    visibility: visible;
    opacity: 1;
  }
  .difficulty-easy{
    color: green;
  }
  .difficulty-medium{
    color: orange;
  }
  .difficulty-hard{
    color: red;
  }
